// I saved you not adding a minfied css ;)

.content-layer {
  position: relative;
  a {
    color: $alert-green;
    &:hover { color: darken($alert-green, 20%); }
  }
  @media #{$l-tablet-up} {
    padding-bottom: 30px;
    padding-top: 50px;
  }
  @media #{$p-tablet-only} {
    padding-bottom: 0;
    padding-top: 20px;
  }
}

// Making everything float and 100% width so things position properly
.content-layer-item, .content-layer-label, .content-layer-box, .content-layer-row,
.content-layer-column, .content-layer-image {
  @include span(full);
}

// Title of the whole section
.content-layer-title {
  padding-bottom: 2rem;
  @media #{$mobile-only} { padding-bottom: 2.5rem; }
}

// The unordered list of labels
.content-layer-label {
  padding-bottom: 2rem;
  @media #{$mobile-only} {
    //Getting rid of the padding so the labels go right to the edge on mobile
    margin-left: -2.2rem;
    margin-right: -2.2rem;
    margin-top: -2rem;
    width: 100vw;
  }
}

// Each label list item
.content-layer-inline {
  display: inline-block;

  h2 {
    @include font-size(1.4);
    cursor: pointer;
    letter-spacing: 0.7px;
    margin-bottom: 0;
    position: relative;
    transition: background-color 0.5s ease;

    // Adding an invisible custom underline of the label
    &:after {
      @extend %single-transition;
      background-color: $alert-green;
      bottom: -3px;
      content: '';
      height: 1px;
      left: -3px;
      opacity: 0;
      position: absolute;
      width: calc(100% + 6px);

      @media #{$mobile-only} {
        background-color: $overlay-opacity;
        bottom: initial;
        left: 0;
        opacity: 1;
        top: 0;
        width: 100%;
      }
    }

    // Making it appear on active class, hover or focus
    &.active, &:hover, &:active, &:focus {
      color: $alert-green;
      &:after { opacity: 1; }
      @media #{$mobile-only} {
        background-color: $alert-green;
        color: $white;
        font-weight: 500;
      }
    }

    @media #{$mobile-only} {
      @include font-size(1.58);
      background-color: $overlay-opacity;
      font-weight: 300;
      letter-spacing: 0.8px;
      padding: 1rem 2.7rem;
    }
  }

  // Adding padding between the labels except for the last one
  &:not(:last-child){
    @media #{$tablet-up} { padding-right: 2.5rem; }
  }

  // Making the labels full width on mobile
  @media #{$mobile-only} { display: block; }
}

// Each items content - all are visibly hidden from the start (but still exist) 
// and are shown through JS, so that the page height doesn't jump if the content is different heights
.content-layer-item {
  background-color: $footer-text;
  opacity: 0;
  visibility: hidden;
  @extend %long-transition;

  // Absolutely positioned so they appear in the same position
  &:not(:first-child) {
    @media #{$tablet-up} { position: absolute; }
  }

  // Making it visible only when it has a class of 'active'
  &.active {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  // Hiding them all on mobile so they can be displayed through JS
  @media #{$mobile-only} {
    display: none;
    opacity: 1;
    position: relative;
    visibility: visible;
  }
}

// Relative so that the absolutely positioned items have something to be relative to
.content-layer-box { position: relative; }

// Heading inside each item
.content-layer-heading {
  letter-spacing: 0.4px;
  line-height: 22px;
  margin-bottom: 1.2rem;
  @media #{$tablet-up} { padding-top: 20px; }
  @media #{$mobile-only} { padding-left: 5px; }
}

.content-layer-row {
  @media #{$tablet-up} { padding-top: 10px; }
  @media #{$mobile-only} { padding-left: 5px; }
}

// Adding padding between the columns evenly
.content-layer-column {
  @media #{$tablet-up} {
    &:nth-child(odd){ padding-right: 1rem; }
    &:nth-child(even){ padding-left: 1rem; }
  }
}

// Separating the text and images into columns
.content-layer-column, .content-layer-image-col {
  @media #{$tablet-up} { @include gallery(6); }
}


.content-layer-image {
  margin-bottom: 2rem;
  margin-top: 2rem;
  img {
    max-width: 100%;
    width: auto;
    @media #{$mobile-only} {
      display: block;
      margin: auto;
      margin-top: 5px;
    }
  }
  .content-layer-image-col {
    // Adding padding on top if there is a second image on mobile so they aren't squished together
    &:nth-child(2) {
      @media #{$mobile-only} { padding-top: 5px; }
    }
    @media #{$mobile-only} { @include span(full); }
  }
  @media #{$mobile-only} { margin-bottom: 1rem; }
}
